<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">We offer free, simple uptime monitoring for HTTP/HTTPS sites all kinds. When your site goes down,
  we\'ll send you a text to let you know Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate voluptas
  molestiae voluptatem, architecto, illo quaerat repellat ut nulla adipisci consequuntur repudiandae maxime fuga hic
  natus molestias ipsa dicta rerum tempora! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque ipsa
  molestiae aspernatur eos illum dolores iste optio recusandae magnam facere ducimus vitae, ullam quas tempore, dolorum
  tempora perspiciatis ea eveniet!</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Log in</a>
</div>